@import url('https://fonts.googleapis.com/css?family=Lato|Mukta|Mukta+Malar|Open+Sans|Roboto|Source+Sans+Pro');

body {
      font-family: 'Roboto', sans-serif;
      padding-top: 100px;
}

#profilePic {
              display: block;
              margin: auto;
              margin-top: 40px;
}

#mainTitle {
            display: block;
            text-align: center;
}

#tagLine {
          display: block;
          text-align: center;
}

#about_container {
            display: block;
            padding: 50px;
            background-color: #f9f9f9;
            text-align: center;
            margin-top: 40px;
}

#about_container p {
                    display: block;
                    margin-left: 400px;
                    margin-right: 400px;
                    font-size: 18px;
                    text-align: left;
                    margin-top: 40px;
}

.sectionTitle {
                font-size: 35px;
                font-weight: bolder;
}

.divider {
          width: 20px;
          color: #d6d6d6;
}
