@import url('https://fonts.googleapis.com/css?family=Lato|Mukta|Mukta+Malar|Open+Sans|Roboto|Source+Sans+Pro|Poppins|Heebo:100,300,400,500,700,800,900');

body {
      font-family: 'Heebo', sans-serif;
      }

h1 {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    }

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    }

h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    }

h4 {
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    }

h5 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    }

#logo {
        display: block;
        width: 200px;
        margin: auto;
        margin-top: 40px;
        }

#profilePic {
              display: block;
              margin: auto;
              width: 250px;
              }

#mainTitle {
            display: block;
            text-align: center;
            font-weight: 300;
            font-kerning: normal;
            }

#intro_container {
                  display: block;
                  padding: 50px;
                  }

#about_container {
            display: block;
            padding: 50px;
            padding-top: 90px;
            background-color: #f9f9f9;
            text-align: center;
            margin-top: 40px;
            }

#about_container p {
                    display: block;
                    width: 50%;
                    font-size: 20px;
                    font-weight: 300;
                    text-align: left;
                    margin: 0 auto;
                    margin-top: 40px;
                    margin-bottom: 40px;
                    }

.sectionTitle {
                font-size: 35px;
                font-weight: bolder;
                margin: 0 auto;
                margin-bottom: 0;
                margin-top: 0;
                display: block;
                }

.divider {
          width: 20px;
          color: #d6d6d6;
          margin-top: 40px;
          margin-bottom: 40px;
          display: block;
          }

#exp_container {
            display: block;
            padding: 50px;
            margin-top: 40px;
            margin-bottom: 40px;
            text-align: center;
            }

.exp_card {
            width: 70%;
            /*border-radius: 2px;*/
            margin: auto;
            margin-bottom: 40px;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            padding: 30px;
            text-align: left;
            overflow: auto;
            }

.exp_card:hover {
                  width: 70%;
                  /*border-radius: 2px;*/
                  margin: auto;
                  margin-bottom: 40px;
                  box-shadow: 0 8px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);
                  padding: 30px;
                  }

.jobTitle {
            display: inline-block;
            width: 30%;
            max-width: 30%;
            float: left;
            box-sizing: border-box;
            }

.jobTitle h3 {
              margin: 0;
              font-weight: 500;
              font-size: 1.25em;
              }

.jobTitle h4 {
              margin-top: 14px;
              margin-bottom: 14px;
              font-weight: 400;
              }

.jobDescribe {
              display: inline-block;
              width: 70%;
              max-width: 70%;
              padding-left: 10px;
              box-sizing: border-box;
              }

.jobDescribe p {
                margin: 0;
                font-weight: 300;
                color: #4A4A4A;
                }

#edu_container {
                text-align: center;
                background-color: #f9f9f9;
                padding: 90px 50px 90px 50px;
                overflow: auto;
                margin: 0 auto;
                }

ul {
    list-style: none;
    }

#edu_block_01 {
                display: inline-block;
                width: 50%;
                max-width: 50%;
                float: left;
                }

#edu_block_02 {
                display: inline-block;
                width: 50%;
                max-width: 50%;
                float: right;
                }

.school_logo {
              width: 180px;
              margin: 0 auto;
              margin-bottom: 20px;
              margin-top: 20px;
              }

#edu_block_01 h3 {
                  font-weight: 400;
                  margin-bottom: 0;
                  }
#edu_block_01 h4 {
                  font-weight: 300;
                  margin-bottom: 0;
                  }

#edu_block_02 h3 {
                  font-weight: 400;
                  margin-bottom: 0;
                  }

#edu_block_02 h4 {
                  font-weight: 300;
                  margin-bottom: 0;
                  }

#skill_container {
                  display: block;
                  padding: 50px;
                  margin-top: 40px;
                  text-align: center;
                  }

#skill_content {
                margin: 0 auto;
                display: inline-block;
                }

.skill_block {
              display: inline-block;
              text-align: center;
              margin: 40px 0px 90px 0px;
              padding: 30px;
              text-align: center;
              height: 100%;
              vertical-align: top;
              width: 300px;
              max-width: 300px;
              }

.skill_block ul {
                  margin: 0 auto;
                  padding: 0px;
                  font-weight: 300;
                  }

.skill_block li {
                  margin: 10px;
                  }

.blockTag {
            border: 1px solid #4A4A4A;
            width: 160px;
            margin: 0 auto;
            z-index: 5;
            margin-bottom: 30px;
            padding: 10px;
            font-weight: 500;
            }
