/* styles for my resume */

@import url('https://fonts.googleapis.com/css?family=Lato|Mukta|Mukta+Malar|Open+Sans|Roboto|Source+Sans+Pro');

/* set the text style for body elements*/
body {
      font-family: 'Open Sans', Arial, sans-serif;
      color: #444;
      font-weight: 400;
}

/* style for my name */
#name {
        font-size: 3em;
        color: #33485e;
        text-transform: uppercase;
        text-align: center;
}

/* Set my job titles to the designated style */
#Title {
            text-transform: uppercase;
            font-size: 1.5em;
            color: #33485e;
}

/* Set the class for every setction title */
.sectionTitle {
                font-size: 1.5em;
                text-transform: uppercase;
                display: block;
                background-color: #33485e;
                color: white;
                font-weight: 600;

}

/* Set the style for all job titles in Experience section */
.jobTitle {
            font-weight: 600;
            font-size: 1.5em;
}

/* Set the sytle of all organization names in Experience section */
.orgName {
          font-size: 1.5em;
          font-weight: 400;
}

/* Set the sytle of all duration in Experience section */
.jobDate {
          font-weight: 400;
          font-style: italic;
          font-size: 1em;
}

/* Set the sytle of content in Education section */
.edu {
      font-size: 1em;
}

/* Set the sytle of content in Skills section */
.skills {
          font-size: 1em;
}
