@import url('https://fonts.googleapis.com/css?family=Lato|Mukta|Mukta+Malar|Open+Sans|Roboto|Source+Sans+Pro');

body {
      font-family: 'Open Sans', 'Arial', sans-serif;

      color: #444;
      font-weight: 400;
}

#name {
        font-size: 3em;
        color: #33485e;
        text-transform: uppercase;
        text-align: center;
}

#jobTitle {
            text-transform: uppercase;
            font-size: 1.5em;
            color: #33485e;
}

.sectionTitle {
                font-size: 1.5em;
                text-transform: uppercase;
                display: block;
                background-color: #33485e;
                color: white;
                font-weight: 600;

}

.jobTitle {
            font-weight: 600;
            font-size: 1.5em;
}

.orgName {
          font-size: 1.5em;
          font-weight: 400;
}

.jobDate {
          font-weight: 400;
          font-style: italic;
          font-size: 1em;
}

.edu {
      font-size: 1em;
}

.skills {
          font-size: 1em;
}
