/* styles for my resume */

@import url('https://fonts.googleapis.com/css?family=Lato|Mukta|Mukta+Malar|Open+Sans|Roboto|Source+Sans+Pro');

/* set the text style for body elements*/
body {
      font-family: 'Open Sans', Arial, sans-serif;
      color: #444;
      font-size: 12px;
      font-weight: 400;
      }

/* style for my name */
#name {
        font-size: 3em;
        color: #33485e;
        text-transform: uppercase;
        text-align: center;
        border-bottom: 1px solid #33485e;
        width: 60%;
        min-width: 300px;
        margin: 0 auto;
        }

/* Set my job titles to the designated style */
#title {
            text-transform: uppercase;
            font-size: 1.5em;
            color: #33485e;
            font-weight: 600;
            text-align: center;
            margin: 20px 0 0 0;
            }

/* Set the class for every setction title */
.sectionheader {
                font-size: 1.5em;
                text-transform: uppercase;
                display: block;
                background-color: #33485e;
                color: white;
                font-weight: 400;
                margin: 20px 0 10px 0;
                width: 70%;
                min-width: 300px;
                padding-left: 20px;
                }

/* Set the style for all job titles in Experience section */
.jobtitle {
            font-weight: 600;
            font-size: 1.5em;
            }

/* Set the sytle of all organization names in Experience section */
.organization {
          font-size: 1.25em;
          font-weight: 400;
          }

/* Set the sytle of all duration in Experience section */
.date {
          font-weight: 400;
          font-style: italic;
          font-size: 1em;
          margin: 2px 0 0 0;
          }

.description {
              margin: 10px 0 0 0;
}

.menu {
        margin: 0;
        padding: 0;
        text-align: center;
        }

.menu li {
          display: inline;
          }

/* Set the sytle of content in Education section */
#degrees {
          margin: 5px 0 0 0;
}

/* Set the sytle of content in Skills section */
#do {
      margin: 5px 0 0 0;
      }

.top {
      width: 60%;
      min-width: 300px;
      margin: 0 auto;
      margin-bottom: 30px;
      }

#container {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            padding-bottom: 50px;
            }
