@import url('https://fonts.googleapis.com/css?family=Oxygen');

.navbar {
          background-color:#FFD54D;
          text-decoration: none;
          }

.navbar-toggler {

                  }

ul.navbar-nav {
                margin-left:20%;
                }

.navbar-nav li {
                margin-right: 20px;
                }

.navbar a {
            color: black;
            font-family: Oxygen, Helvetica, sans-serif;
            }

.navbar-brand {
                font-weight: 600;
                }

.navbar-brand img {
                    margin: 0px;
                    display: inline;
                    vertical-align: center;

                    }

#title-icon {
              width: 30px;
              margin-right: 15px;
              }

.container  {
            max-width: 1000px;
            width: 100%;
            margin: 0 auto;
            padding: 40px 0px 70px 0px;
            font-family: Oxygen, Helvetica, sans-serif;
            }

a.anchor {
          display: block;
          position: relative;
          top: -65px;
          visibility: hidden;
          }

.hero-image {
              margin-top: 56px;
              width: 100%;
              }

.hero-image > img {
                    width: 100%;
                    }

#headline  {
            display: block;
            text-align: center;
            margin: 30px 0px;
            font-size: 3em;
            font-weight: 600;
            }

#subline  {
            display: block;
            text-align: center;
            margin-bottom: 20px;
            font-size: 2em;
            font-weight: 300;
            }

#byline {
          display: block;
          text-align: center;
          margin-bottom: 50px;
          font-size: 1.3em;
          font-weight: 100;
          }

.chapter_head {
                width: 60%;
                margin: 0 auto;
                margin-bottom: 20px;
                font-size: 1.5em;
                font-weight: 700;
                }

.paragraphs {
              width: 60%;
              margin: 0 auto;
              font-size: 1.1em;
              font-family: Georgia, Times, serif;
              margin-bottom: 20px;
              }

.figure {
          display: block;
          margin: 0 auto;
          margin: 40px 0px;
          }

img {
      display: block;
      width: 70%;
      margin: 0 auto;
      }

figcaption {
            display: block;
            width: 70%;
            margin: 0 auto;
            color: #8a8a8a;
            text-align: center;
            margin-top: 10px;
            }

footer {
        width: 100%;
        background-color: #343a40;
        text-align: center;
        color: white;
        padding: 20px 0px;
        }
