@import url('https://fonts.googleapis.com/css?family=Oxygen');

em {
    display: block;
    text-align: center;
    font-size: 15px;
}

.graphic-container {
    margin: 50px 0px;
}

.container  {
            max-width: 1000px;
            width: 100%;
            margin: 0 auto;
            padding: 40px 0px 70px 0px;
            font-family: Oxygen, Helvetica, sans-serif;
            }

#headline  {
            display: block;
            text-align: center;
            margin: 30px 0px;
            font-size: 4em;
            font-weight: 600;
            }

#byline {
          display: block;
          text-align: center;
          margin-bottom: 50px;
          font-size: 1.4em;
          font-weight: 100;
          }

.chapter_head {
                width: 60%;
                margin: 0 auto;
                margin-bottom: 20px;
                font-size: 2em;
                font-weight: 700;
                }

.paragraphs {
              width: 60%;
              margin: 0 auto;
              font-size: 1.1em;
              font-family: Georgia, Times, serif;
              }

.figure {
          display: block;
          margin: 0 auto;
          margin: 40px 0px;
          }

img {
      display: block;
      width: 70%;
      margin: 0 auto;
      }

figcaption {
            display: block;
            width: 70%;
            margin: 0 auto;
            color: #8a8a8a;
            text-align: center;
            margin-top: 10px;
            }

footer {
        width: 100%;
        background-color: #343a40;
        text-align: center;
        color: white;
        padding: 20px 0px;
        }
